@import "tailwindcss";

:root {
  --background: #f6f5ee;
  --foreground: #182748;
  --luypos-navy: #182748;
  --luypos-orange: #ff843d;
  --luypos-dark-blue-gray: #3a4562;
  --luypos-soft-orange: #dc8c5a;
  --luypos-light-peach: #fbcba7;
  --luypos-cool-gray: #7c8495;
  --luypos-light-gray-blue: #b8c1cf;
  --luypos-off-white: #f6f5ee;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins, Arial, Helvetica, sans-serif;
}
